<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../articles/articles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>

        <div id="NavigationBottom">
            <i class="material-icons">home</i>
            <i class="material-icons back">article</i>
            <i class="material-icons">tips_and_updates</i>
            <i class="material-icons">info</i>
            <span>
                <span>
                    <i class="material-icons" style="transform: scale(0.9);">build</i>
                    <i class="material-icons" style="transform: scale(0.9);">people</i>
                </span>
                <i class="material-icons">account_tree</i>
            </span>
        </div>

        <div id="whole">
            <% data.forEach((item ,index)=> {%>
                <div id="article<%=index+1%>" class="article minor">
                    <div class="brief">
                        <div id="Title-Content-Spotify">
                            <h2>
                                <%=item.Title%>
                            </h2>
                            <span id="Content-Spotify">
                                <p>
                                    <%=item.Content%>
                                </p>
                                <img src="/Blog_Images/Spotify_WhiteBG.png">
                            </span>
                        </div>


                        <img src="../thumbnailstorage/<%=item.Thumbnail%>" alt="" id="Thumbnail" loading = "lazy">


                        <div class="quarter"></div>
                    </div>
                    <div class="detail">

                        <div class="commentsection">
                            <button class="showcomments"> <span>Comments</span>
                                <img src="/Blog_Images/Comment.png" alt="">
                            </button>

                            <div class="comments" hidden>
                                <div id="displaycomments">
                                    <%item.Comment.forEach((comment, indexofcomment)=> { %>
                                        <div>
                                            <%=comment%>
                                        </div>
                                        <%}) %>
                                </div>
                                <span class="docomment">
                                    <input type="text" name="CommentContent" class="CommentContent a<%=item.id%>" placeholder="Care to Comment?" >

                                    <button class="CommentButton" id="<%=item.id%>">&#128488;</button>
                                </span>

                            </div>
                        </div>

                        <div id="thumbnail_tags_share_spotify">

                            <img src="../thumbnailstorage/<%=item.Thumbnail%>" alt="" id="thumbnail">

                            <div id="labels_share_spotify">
                                <div id="labels">
                                    <img src="/Blog_Images/Label UL Root.png" alt="" id="root">
                                    <ul>
                                        <li>
                                            <%=item.Tag1%>
                                        </li>
                                        <li>
                                            <%=item.Tag2%>
                                        </li>
                                        <li>
                                            <%=item.Tag3%>
                                        </li>
                                        <li>
                                            <%=item.Tag4%>
                                        </li>
                                        <li>
                                            <%=item.Tag5%>
                                        </li>
                                        <li>
                                            <%=item.Tag6%>
                                        </li>
                                    </ul>
                                </div>
                                <div id="share_spotify">
                                    <div id="share">
                                        <img src="/Blog_Images/Instagram.png" alt="" id="Instagram">
                                        <img src="/Blog_Images/Twitter.png" alt="" id="Twitter">
                                        <img src="/Blog_Images/WhatsappShare.png" alt="" id="Whatsapp">
                                        <img src="/Blog_Images/LinkShare.png" alt="" id="Link">
                                    </div>

                                    <img src="/Blog_Images/Spotify_WhiteBG.png" alt="" id="spotify">
                                </div>
                            </div>

                        </div>



                        <div id="title_speak_content">
                            <div id="title_speak">
                                <h1 id="title">
                                    <%=item.Title%>
                                </h1>
                                <img src="/Blog_Images/Audio Icon.png" alt="" id="Speak">
                            </div>
                            <hr>
                            <div id="content_confirm">
                                <div id="content">
                                    <%-item.Content %>
                                </div>

                            </div>
                        </div>
                        <img src="/Blog_Images/Complete Read.png" alt="" class="back">



                        <div id="sharebottom">
                            <img src="/Blog_Images/Instagram.png" alt="" id="Instagram">
                            <img src="/Blog_Images/Twitter.png" alt="" id="Twitter">
                            <img src="/Blog_Images/WhatsappShare.png" alt="" id="Whatsapp">
                            <img src="/Blog_Images/LinkShare.png" alt="" id="Link">
                        </div>
                    </div>

                </div>
                <%})%>

        </div>




        <div id="NavigationBarShow">
            <i class="material-icons">home</i>
            <i class="material-icons">article</i>
            <i class="material-icons">tips_and_updates</i>
            <i class="material-icons" style="transform: scale(0.9);">build</i>
            <i class="material-icons" style="transform: scale(0.9);">people</i>
            <i class="material-icons">info</i>

            <span>
                <input type="search" name="Search" id="Search">
                <i class="material-icons">search</i>
            </span>
        </div>





        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="../articles/articles.js"></script>
        <script>
            for (let a of document.querySelectorAll('p')) {
                var text = a.innerText.replace(/(<([^>]+)>)/g, "");
                a.innerHTML = text;
            }
        </script>


        <script src="/navigation.js"></script>
    </body>
</html>